<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/HomePage/master.css" type="text/css">
    <title>Cover Page</title>
  </head>

  <body>
    <div class="heading">
      <h2>Cover Page</h2>
    </div>
    <div class="buttons">
      <a href="/">Home</a>
      <a href="/resume">Resume</a>
    </div>
    <div class="paragraph-box">
      <p class="paragraph-title">
        About Myself:
      </p>
      <p class="paragraph-content">
        I am currently employed, working as a full time comercial conscrution labourer at Mapel Builing,
        I started part time right after finishing high school back in 2015, although I enjoy what I do,
        working with them as a labourer is not a career it is simply a job to keep the wheel truning,
        nothing more, I'm eager and hungry for more. I take pride in what I do but I'm always open to
        cunstructive criticism and other ways of doing things. <br>
        <br>
        I currently hold an Australian divers license,

      </p>
    </div>

    <div class="bottom">
      <p>here</p>
    </div>
  </body>
</html>
