<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" href="HomePage/static/all_styled.css">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h2> Hello there. </h2>
    <p>This is my website. Created by my self for the purpose of making it
      easier for myself and others to access my credentials and information about myself,
      the work that i have done and my goals for the future.
      -Leviix
    </p>
    <a href='/coverletter' name='Standard_button'></a>
  </body>
</html>
