<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" href="static/HomePage/master.css" type="text/css">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body class="body">
    <div class="header">
      <h2> Hello there. </h2>
    </div>
    <div class="image">
      <img src="static/HomePage/photo_me.jpg" alt="">
    </div>
    <p>This is my website portfolio. Created by myself for the purpose of making it
      easier for myself and others to access my credentials and information about myself,
      the work that I have done and my goals for the future.<br>
      <br>
      -Leviix
    </p>
    <a href='/coverletter' name='Standard_button'>Cover page</a>
    <a href='/resume' name='Standard_button'>Resume</a>
    <p>
      just a nice quote/poem that I like:
      <br>
      <br>
      <b>Invictus, by William Ernest Henley</b>
      <br>
      <i>Out of the night that covers me,<br>
        Black as the pit from pole to pole,<br>
        I thank whatever gods may be<br>
        For my unconquerable soul.<br>
        <br>
        In the fell clutch of circumstance<br>
        I have not winced nor cried aloud.<br>
        Under the bludgeonings of chance<br>
        My head is bloody, but unbowed.<br>
        <br>
        Beyond this place of wrath and tears<br>
        Looms but the Horror of the shade,<br>
        And yet the menace of the years<br>
        Finds and shall find me unafriad.<br>
        <br>
        It matter not how strait the gate,<br>
        How changed the punishemnt the scroll,<br>
        I am the master of my fate,<br>
        I am the captain of my soul.<br>
      </i>
    </p>
  </body>
</html>
